//  =====================
//  = Fluid grid Mixins =
//  =====================

// base column

@mixin column() {
  float: left;
  @include box-sizing(border-box);
  min-height:1px;
}

@mixin first() {
  clear:both;
  margin-left:0;
}

// Responsive grid
// 1. cols : number of grid columns

@mixin fluid-grid($cols) {

    $target : $cols * $column-width-px + ($cols - 1) * $gutter-width-px;
    width : percentage( $target / $site-width-px );

    // cols have semi gutter on left and right (ex: col=54 & gut=13 + 13)
    // use when container is transparent
    @if $grid-mode == 'gutters' {
        margin-right : $gutter-width / 2;
        margin-left : $gutter-width / 2;
    }

    // the 13 gutters have same size (ex : col=54 & gut=24)
    // use when container is displayed
    @if $grid-mode == 'same-gutter' {
        margin-left : $gutter-width;
    }

    // each col has a left gutter, except for the first one (ex: col=58 & gut=24)
    // prefer the gutters method
    @if $grid-mode == 'gutter-left' {
        margin-left : $gutter-width;

        &:first-child {
            margin-left:0;
        }
    }
}


//  ========================
//  = Standard Grid Mixins =
//  ========================

// Standard grid
// 1. cols : number of grid columns

@mixin grid($cols) {

    width : $cols * $column-width-px + ($cols - 1) * $gutter-width-px;

    // cols have semi gutter on left and right (ex: col=54 & gut=13 + 13)
    // use when container is transparent
    @if $grid-mode == 'gutters' {
        margin-right : $gutter-width-px / 2;
        margin-left : $gutter-width-px / 2;
    }

    // the 13 gutters have same size (ex : col=54 & gut=24)
    // use when container is displayed
    @if $grid-mode == 'same-gutter' {
        margin-left : $gutter-width-px;
    }

    // each col has a left gutter, except for the first one (ex: col=58 & gut=24)
    // prefer the gutters method
    @if $grid-mode == 'gutter-left' {
        margin-left : $gutter-width-px;

        &:first-child {
            margin-left:0;
        }
    }
}


// In addition to mixin grid
// add a clearfix and no margin for the first element of each line
// 1. cols : number of grid columns

@mixin gallery($cols) {

    $nb: $columns / $cols;

    &:nth-child(#{$nb}n+1) {
        clear:both;

        @if $grid-mode == 'gutter-left' {
          margin-left:0;
        }
    }
}


//  ========================
//  = Media Queries Mixins =
//  ========================

@mixin desktop($breakpoint: 769px) {

  @media screen and (min-width: $breakpoint) {
    @content;
  }

}

@mixin tablet($breakpoint: 768px) {

  @media screen and (max-width: $breakpoint) {
    @content;
  }

}

@mixin only-tablet($breakpoint1: 481px, $breakpoint2: 768px) {

  @media screen and (min-width: $breakpoint1) and (max-width: $breakpoint2) {
    @content;
  }

}


@mixin smartphone($breakpoint: 480px) {

  @media screen and (max-width: $breakpoint) {
    @content;
  }

}


@mixin retina() {

  @media (min--moz-device-pixel-ratio: 1.5),
         (-o-min-device-pixel-ratio: 3/2),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 144dpi),
         (min-resolution: 1.5dppx)
  {
    @content;

  }
}


//  ====================
//  = Standards Mixins =
//  ====================

// disable fields highlight

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Placeholder styling

@mixin input-placeholder {
  @if $experimental-support-for-webkit {
    &::-webkit-input-placeholder {
      @content;
    }
  }
  @if $experimental-support-for-mozilla {
    &:-moz-placeholder {
      @content;
    }
    &::-moz-placeholder {
      @content;
    }
  }
  @if $experimental-support-for-microsoft {
    &:-ms-input-placeholder {
      @content;
    }
  }
}


//  ===================
//  = Animation mixin =
//  ===================

// Use this mixin every time you make an animtion it forces the use of
// GPU rendering and bring a much smoother experience to the end user
@mixin hw-accelerated(){
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

// This mixin can be used when you see a flickering effect (black flash)
// appening on a 3d animation.
@mixin no-flickering(){
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }

  @-moz-keyframes $animation-name {
    @content;
  }

  @-ms-keyframes $animation-name{
    @content;
  }

  @keyframes $animation-name {
    @content;
  }
}

@mixin no-animation{
  @include experimental(animation, none, -moz, -webkit, -o, -ms, not -khtml, official);
}

@mixin animation-name($animation-name){
  @include experimental(animation-name, $animation-name, -moz, -webkit, -o, -ms, not -khtml, official);
}

@mixin animation-iteration-count($iteration-count){
    @include experimental(animation-iteration-count, $iteration-count, -moz, -webkit, -o, -ms, not -khtml, official);
}

@mixin animation-timing-function($timing-function){
    @include experimental(animation-timing-function, $timing-function, -moz, -webkit, -o, -ms, not -khtml, official);
}

@mixin animation-duration($duration){
    @include experimental(animation-duration, $duration, -moz, -webkit, -o, -ms, not -khtml, official);
}

@mixin animation-delay($delay){
    @include experimental(animation-delay, $delay, -moz, -webkit, -o, -ms, not -khtml, official);
}

@mixin animation-fill-mode($fill-mode){
    @include experimental(animation-fill-mode, $fill-mode, -moz, -webkit, -o, -ms, not -khtml, official);
}
