//  ==============================
//  = Patterns and common styles =
//  ==============================

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body {
	background-color:$light;
	font-size:$font-size;
	line-height:1.4;
	font-family:$font;
	color:$text-color;
}

.wrapper {
	// max-width:$max-site-width; // Responsive site
	// OR
	// width:$site-width; // Standard site
	margin:0 auto;
}


//  ==============
//  = Responsive =
//  ==============

// container for grid blocks
.row {
  @include pie-clearfix();
}

// cancel first block left margin in gutter-left mode
.first {
  margin-left:0 !important;
}

// floated column
%col {
  @include column();
}

// fluid images
img {
	max-width:100%;
	height:auto;
	width:auto; // avoid ie8 bug 
}

// Box sizing : border box
div,
article,
a,
img {
	@include box-sizing(border-box);
}


//  =========
//  = Links =
//  =========

a {
  color:$link-color;
  @include transition(color $speed ease-in-out);

  &:hover { color:$hover-color;}
}

//  =========
//  = Forms =
//  =========

input[type=text],
input[type=email],
textarea {
  @include box-sizing(border-box);
  outline:none;
}

textarea {

}


//  ===========
//  = Buttons =
//  ===========

.button, input[type=submit], a[rel *=attachment] {
	display: inline-block;

	&:hover {

	}
}


//  =======================
//  = Single post content =
//  =======================

.content {
	a {
		color:$link-color;
		&:hover { color:$hover-color;}

		&[rel *=attachment] {
		}
	}

	ul { list-style-type:circle; }
	ol { list-style-type:decimal; }
	li { margin-left:30px; }

  // Oembed styles

  .twitter-tweet {
    width:100%;
  }

  iframe {
    width:100% !important;
  }


  // Images alignment

	.alignright {
		float:right;
		margin:12px 0 12px 12px;
	}

	.alignleft {
		float:left;
		margin:12px 12px 12px 0;
	}

	.wp-caption {
		background:#ccc;
		border:1px solid #999;
		text-align: center;
		padding:5px;
		width:auto !important;

		p {
			margin:0;
			font-size: 12px;
		}
	}

  // Gallery

	.gallery {
		br { clear:none !important; display:none; }
	}

	.gallery-item {
		display:block;
		@include fluid-grid(3);
		text-align:center;
		margin-bottom:$gutter-width;
		margin-top:0;

		img {
			display:block;
		}
	}
}
