//  =======================================
//  = Media Queries for responsive design =
//  =======================================

@include desktop($tablet+1px) {

}

@include tablet($tablet) {

  // Common


  // Header


  // Home


  // Archive


  // Single


  // Page


	// hide wordpress admin bar
	html[lang=fr-FR] {
		margin-top: 0 !important;
	}
	#wpadminbar {
		display:none;
	}

}

@include only-tablet($smartphone+1px, $tablet) {

}


@include smartphone($smartphone) {

  // Common


  // Header


  // Home


  // Archive


  // Single


  // Page


}


